.box::before {
  content: 'Це текст в ::before';
  font-size: 40px;
  color: orange;
}

.box::after {
  content: 'Це текст в ::after';
  font-size: 30px;
  color: teal;
}
.gradient {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)),
    url(../images/Bg.jpg);
  /* background-image: url(../images/Bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
.btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: teal;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  border: none;
}
/* .btn > .icon {
  width: 20px;
  height: 20px;
  background-image: url(../images/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
background-color: red;
  margin-right: 10px;
} */
.btn:hover,
.btn:focus {
  background-color: palevioletred;
}
.btn:before {
  width: 20px;
  height: 20px;
  color: blue;
  content: '';
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.text > span {
  text-decoration: line-through;
}
.title-a {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}
.justify {
  text-align: left;
}
.indent {
  text-indent: 50px;
}
.line-height {
  font-size: 16px;
  line-height: 1.5;
}
.text-shadow {
  text-shadow: 2px 2px 2px #000000, 24px 24px 5px gray;
}
pre {
  font-family: 'Arial', 'Hekvetica', sans-serif;
  color: 2a2a2a;
  font-size: 16px;
}
pre::first-letter {
  font-family: 'Tahoma', serif;
  font-sie: 32px;
  color: #f44336;
}
